.menuAlmuerzo-contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Actor', sans-serif;
}

.escogerPedido-contenedor {
  width: 60%;
  background: url(../imagenes/menuAlmuerzo-fondo.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.barra-menu-opciones {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 25px;
  margin: auto;
  z-index: 1;
}

.titulo-almuerzo {
  background: url(../imagenes/mancha-almuerzo.png) no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
  padding: 25px 40px;
  color: black;
}

.productos-contenedor {
  width: 100;
  height: 360px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.producto {
  width: 120px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid #FCA923;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.botones-productos {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}

.botones-productos button {
  margin: 10px;
}

.pedidoEscogido-contenedor {
  width: 40%;
  background-color: #D5D4D5;
  text-align: center;
  padding: 15px 0 15px 15px;
  position: relative;
}

.pedidoEscogido-contenedor button {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 12px;
}

.imagenLogo-contenedor {
  width: 100%;
}

.imagenLogo-contenedor img {
  width: 100px;
}

.titulo-pedido-contenedor {
  width: 100%;
  margin-bottom: 5px;
}

.titulo-pedido {
  color: black;
  font-size: 25px;
  letter-spacing: 2px
}

.input-nombreCliente input {
  height: 40px;
  width: 190px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Actor', sans-serif;
  border-radius: 20px;
  border: 0px;
}

.input-nombreCliente input::placeholder {
  font-weight: bold;
  color: white;
}

.productos-escogidos-contenedor {
  width: 100%;
  height: 220px;
  margin: 15px 0px;
  padding-right: 15px;
  text-align: left;
  overflow-y: auto;
}

table {
  width: 100%;
  text-align: left;
}

table tr span {
  border-bottom: 2px dotted white;
  display: block;
  padding-bottom: 8px;
}

table tr td {
  padding: 3px;
  color: black;
}

.eliminarProducto-icono {
  text-align: right;
  font-size: 20px;
}

.precio-tabla {
  width: 70px;
  text-align: right;
}

.total-pedido {
  position: absolute;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  bottom: 60px;
}

.precio-total {
  text-align: center;
  font-size: 20px;
  color: black;
}

.mensaje {
  display: none;
  position: absolute;
  width: 70%;
  margin: 0 15%;
  background: rgba(255, 255, 255, 0.90);
  left: 0;
  top: 50%;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.mensaje.error {
  border: 2px solid red;
  color: red;
}

.mensaje.exitoso {
  border: 2px solid green;
  color: green;
}